name: Gin Backend Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  backend-test:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: course
          MYSQL_USER: guest
          MYSQL_PASSWORD: Guest123@
        ports:
          - 3306:3306
        options: >-
          --health-cmd "mysqladmin ping -proot"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 3
          
    steps:

    - name: Set up Golang
      uses: actions/setup-go@v2
      with:
        go-version: '1.24'

    - name: Check out code
      uses: actions/checkout@v2

    - name: Install dependencies
      run: go mod download

    # mysql数据初始化检查
    - name: Verify Mysql initialization
      run: |
        for i in {1..10};do
          if mysql -h 127.0.0.1 -P 3306 -u root -proot -e "SELECT 1" >/dev/null 2>&1; then
            echo "Mysql is ready"
            exit 0
          fi
          sleep 2
        done
        echo "Mysql failed to start"
        exit 1

    # gin测试
    - name: Run the test
      env:
        MAIL_SERVER:  'smtp.163.com'
        MAIL_USERNAME: ${{ secrets.MAIL_USERNAME }}
        MAIL_PASSWORD: ${{ secrets.MAIL_PASSWORD }}
        MAIL_PORT: ${{secrets.MAIL_PORT}}
        MYSQL_USER: 'guest'
        MYSQL_PWD: 'Guest123@'
        MYSQL_HOST: 'localhost'
        MYSQL_PORT: 3306
        MYSQL_DATABASE: 'course'
      run: go test -v ./...
